
body {
    text-align: center;
    background-color: rgb(181, 248, 248);
}
footer {text-align: center;
        align-self: auto;
}
.Main-story {
    margin-left: 200px;
    margin-right: 450px;
 }
.Who-are-we {
    block-size: 30%;
    text-align: center;
    border: 3px double rgb(178, 55, 181);
    width: 15%;
    float: right;
    align-items: flex-end;
}
